<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<!-- Not sure why this commented out version behaved very different, visually.-->
<!-- <button class="social-btn"><%= link_to "JR's Twitter", "https://twitter.com/bluelionjr"%></button> -->

<%= link_to "JR's Twitter", "https://twitter.com/bluelionjr", class:"social-btn" %>
